commands:
  01_install_certbot:
    command: |
      python3 -m venv /opt/certbot/
      /opt/certbot/bin/pip install --upgrade pip
      /opt/certbot/bin/pip install certbot
      ln -sf /opt/certbot/bin/certbot /usr/local/bin/certbot
    ignoreErrors: false

  02_stop_nginx:
    command: systemctl stop nginx || true
    ignoreErrors: true

  03_obtain_certificate:
    command: |
      certbot certonly --standalone \
        --non-interactive \
        --agree-tos \
        --email medhas.digital@gmail.com \
        -d api.rkconsulting.org.in \
        --keep-until-expiring
    ignoreErrors: false
  04_start_nginx:
    command: systemctl start nginx || true
    ignoreErrors: true
  04_start_nginx:
    command: systemctl start nginx || true