files:
  "/etc/cron.d/certbot-renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0,12 * * * root python3 -c 'import random; import time; time.sleep(random.random() * 3600)' \
        && certbot renew --pre-hook "systemctl stop nginx" \
                         --post-hook "systemctl start nginx" \
        >> /var/log/certbot-renew.log 2>&1